<section class="cart py-3 pb-5">
    <p class="order_required" data-info="<%= JSON.stringify(messages.info) %>"></p>
     <% if(!Object.values(session.cart.items).length) { %>
        <div class= "empty-cart-section p-1 mb-3">
            <div class="container mt-md-5 mt-sm-3 text-center text-black-50">
                <h1 class="empty-cart">Cart Empty</h1>
                <p class="text-center">You have not ordered anything yet</p>
                <img class="w-50 mx-auto mt-md-5 mt-sm-2 " src = "/images/empty_cart.svg" alt="empty">
                <div class="mt-5">
                <a href ="/" class="add-button test-dark  px-6 py-2  cart-order font-bold mt-3 ">Go back</a>
                </div>      
            </div>
        </div>
    <% } else { %>

        <div class="order container w-75 mx-auto">
            <div class="order-head d-flex flex-row align-items-center  mt-md-5 mt-sm-2 mt-2">
                <div>
                <i class="fa fa-cart-arrow-down fa-3x pr-2" aria-hidden="true"></i>
                </div>
               
                <h6 class="cart-order">Order Summary</h6>
                
            </div>
            <div clas="item-list text-center">
                <% for(let item of Object.values(session.cart.items)) { %>
                <div class="d-flex align-items-center flex-row mt-5">
                    <img  class="cart-img" src="/uploads/<%= item.item.pic %>" alt="food">
                    <div class="ml-md-4 ml-1 ml-sm-2">
                        <p class="cart-order"><%= item.item.name %></p>
                    </div>
                    <span class="text-center flex-grow-1"><%= item.qty %></span>
                    <span class="font-bold text-center flex-grow-1"><%= item.item.price %>rs/-</span>
                </div>
                <% } %>
               
            </div>
            <hr>
            <div class="pt-2">
                <div class="text-right">
                    <span>Total Amount :</span>
                    <span class="amount"><%= session.cart.totalPrice %>Rs/-</span>
                </div>
                <div class="text-right mt-md-4 mt-sm-3 mt-4">
                    <form id="order_form" action="/order" method="POST">
                        <p class="error" ><%= messages.error %></p>
                        <input type="text" placeholder="Your name" name="name" class="customer_name border border-dark p-md-2 p-1 p-lg-2 w-50 rounded mb-3">
                        <div>
                           <button type ="submit" class="add-button btn-hover">Place order</button>
                          </div>
                    </form>
                    
                </div>
            </div>
            
        </div>
        <% } %>

</section>



    
    