<meta http-equiv="refresh" content="30">
<section class="cart py-3 pb-5">
    <p class="item_added" data-add="<%= JSON.stringify(messages.item) %>"></p>
    <p class="item_error" data-add="<%= JSON.stringify(messages.error) %>"></p>
        <!-- <div class= "empty-cart-section p-1 mb-3">
            <div class="container mt-md-5 mt-sm-3 text-center text-black-50">
                <h1 class="empty-cart">Cart Empty</h1>
                <p class="text-center">You have not ordered anything yet</p>
                <img class="w-50 mx-auto mt-md-5 mt-sm-2 " src = "/images/empty_cart.svg" alt="empty">
                <div class="mt-5">
                <a href ="/" class="add-button test-dark  px-6 py-2  cart-order font-bold mt-3 ">Go back</a>
                </div>      
            </div>
        </div> -->

     <% if(!Object.values(orders).length) { %>
        <div class= "empty-cart-section p-1 mb-3">
            <div class="container mt-md-5 mt-sm-3 text-center text-black-50">
                <h1 class="empty-cart">Order list empty</h1>
                <p class="text-center">No uncompleted orders.</p>
                <img class="w-50 mx-auto mt-md-5 mt-sm-2 " src = "/images/empty.svg" alt="empty">    
            </div>
        </div>
    <% } %>

        <% orders.forEach(x=> { 
        	var d=new Date(x.updatedAt).toLocaleString();
        %>

        <div class="order container w-75 mx-auto">
            <div class="order-head d-flex flex-row align-items-center  mt-md-5 mt-sm-2 mt-2">
                <div>                </div>
               
                <h6 class="cart-order">Order placed by: <%= x.name %></h6>
                <span class="font-bold text-right flex-grow-1"><strong style="color:#FFAE42"><%= d %></strong></span>
            </div>
            <% for( i=0;i<x.items.length;i++) { var y=x.items[i].item
            	items.forEach(z=> {
            		if(y==z._id.toString()){
            %>
            <div clas="item-list text-center">
                     <div class="d-flex align-items-center flex-row  mt-5">
                    <div class="ml-md-4 ml-1 ml-sm-2">
                        <p class="cart-order"><%= z.name %></p>
                    </div>
                    <span class="text-center flex-grow-1"><%= x.items[i].qty %>pcs</span>
                    <span class="font-bold text-center flex-grow-1"><%= z.price %>rs/-</span>
                </div>
            </div>
            <% }})} %> 
            <div class="pt-2">
                <div class="text-right">
                    <span>Total Amount :</span>
                    <span class="amount"><%= x.totalPrice %>/-</span>
                </div>
                <div class="text-right">
                <form action="/complete/?orderId=<%= x._id %>" method="POST">
                    <button type="submit" class="add-button btn-hover href="">Completed</button>
                  </form>
                </div>
            </div>
            <hr>
        </div>
        <br>
        <% }) %> 
</section>



    
    